@charset "utf-8";

/* mi-boton, mi-boton-2 {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */
mi-boton, mi-boton-2 {
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

p#encabezado{
    margin: 0px 0px 10px 0px;
    padding: 3px;
    background-color:royalblue ;
    color: white;
}

body{
    display: block;
    border: solid 1px royalblue;
}

mi-tabla{
    background-color: seashell ;
}

th{
    background-color:lavender;
    opacity: 85%;
}

table{
    width: 100%;
    border: solid 1px gray;
}

table tr:nth-child(even){
    background-color: #eee;
    
}

table tr:nth-child(odd){
    background-color: #fff;
    
}

/* td:nth-child(even){

} */

td:nth-child(1){
    padding: 3px;
    text-align: center;
}

div#espacio{
    padding: 5px;
    text-align: right;
}